:root {
    --pr-color : #C7D36F;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3fff4;
}
/* Nav Fixed on Scroll */

.nav-color {
        background-color: #005a36;
}

/* Nav Scroll */

.navbar {
    z-index: 3;
}

.navbar .nav-link.active {
  font-weight: 700;
}

.nav-link:hover {
    background-color: var(--pr-color);
}

.navbar .nav-link {
  font-size: 1rem;
  color: black !important;
}

.section-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(160deg, var(--pr-color), #FCF9C6);
    padding: 8rem;

}
.container-login {
    width: 100%;
    display: flex;
    max-width: 1000px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    
}

.login {
    width: 550px;
    
}
#login-google{
    border-radius: 12px;
    width: 200px;
    height: 40px;

}
button i{
    padding-right: 1.5rem;
}


form {
    width: 450px;
    margin: 60px auto;
}

form h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #C7D36F;
}
form p {
    text-align: center;
    margin: 10px;
    color: grey;
}
form p a{
    text-decoration: none;
    color: #C7D36F;
}

.right img {
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form input, form select{
    width: 100%;
    margin: 0.75rem;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #C7D36F;
}
.forgot-pass{
    text-align: right;
}

form button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #C7D36F;
    place-items: center;
}

form button:hover {
    background: #dde793;
}





* {
    z-index: 2;
}

.accsent-img {
    z-index: 1;
}



.section-footer{
    background-color: #FCF9C6;
}

.row-sub-footer{
    padding: 2.5rem 0px;
}

.wrapper-col-1 h1{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.wrapper-col-1 p{
    font-size: 14px;
    width: 90%;
}

.wrapper-icon a{
    width: 25px;
    padding: 5px;
    margin-right: 1rem;
}

.wrapper-col-3 {
display: flex;
flex-direction: column;
}

.wrapper-col-3 h1{
font-size: 1.5rem;
margin-bottom: 1rem;
}

.wrapper-col-3 a{
color: #000;
font-size: 16px;
text-decoration: none;
margin-bottom: 0.5rem;
}

.wrapper-col-4 {
display: flex;
flex-direction: column;
}

.wrapper-col-4 h1{
font-size: 1rem;
font-weight: bold;
margin-bottom: 1rem;
}

.wrapper-col-4 img{
    max-width: 60%;
    height: auto;
}

.wrapper-last-footer{
    padding: 1rem 0;
    border-top: 2px solid #bdbdbd;
    
}

